<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="/static/js/Chart.bundle.js"></script>
	<script src="/static/js/jquery-3.2.1.js"></script>
	<script src="/static/js/bootstrap.bundle.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
	<form method="POST" action="/">
		<div class="form-group">
			<div id="discipline" class="container">
				<div class="row">
					<p>Select a discipline:</p>
				</div>
				<div class="row">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-secondary active">
					    	<input type="radio" name="discipline" value="fcfs" checked="checked"> FCFS
						</label>
						<label class="btn btn-secondary">
					    	<input type="radio" name="discipline" value="lcfs"> LCFS
						</label>
					</div>
				</div>
			</div>
			<br>	
			<div id="rho" class="container">
				<div class="row">		
					<p>Select the utilization:</p>
				</div>
				<div class="row">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-secondary">
					    	<input type="radio" name="util" value="util2"> 0.2
						</label>
						<label class="btn btn-secondary">
					    	<input type="radio" name="util" value="util4"> 0.4
						</label>
						<label class="btn btn-secondary active">
					    	<input type="radio" name="util" value="util6" checked="checked"> 0.6
						</label>
						<label class="btn btn-secondary">
					    	<input type="radio" name="util" value="util8"> 0.8
						</label>
						<label class="btn btn-secondary">
					    	<input type="radio" name="util" value="util9"> 0.9
						</label>
					</div>
				</div>	
			</div>
			<br>
			<div class="container">
				<input type="submit" class="btn btn-primary" value="Simulate">
			</div>
		</div>
	</form>
</body>
</html>