<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/static/js/Chart.bundle.js"></script>
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="title container text-center">
    <h1>Selected discipline {{discipline}} and {{rho}} utilization</h1>
</div>
<div class="graphs-div container text-center">
    <div class="row">
        <h1> Transient Phase Mean of Means</h1>
        <canvas id="mChart"></canvas>
    </div>
    <br>
    <div class="row">
        <h1> Transient Phase Means Variance</h1>
        <canvas id="vChart"></canvas>
    </div>
</div>
<div class="container text-center">
    <form method="GET" action="/">
        <input id="back" type="submit" class="btn btn-secondary btn-lg" value="<< Back">
    </form>
</div>
<br><br>
<script>
        var means = '{{means|safe}}';
		means = means.substring(1, means.length-1);
		means = JSON.parse("[" + means + "]");

		var rounds = [];
		for(var i = 0; i < means.length; i++) {
			rounds.push(i + 1);
		}

		var ctxmean = document.getElementById("mChart").getContext('2d');
		var config = {
            type: 'line',
            data: {
                labels: rounds,
                datasets: [{
		            backgroundColor: 'rgb(54,  162, 235)', // blue
		            borderColor: 'rgb(54,  162, 235)', // blue
		            data: means,
		            fill: false
        		}]
            },
            options: {
                responsive: true,
                title: {display: false},
                tooltips: {enabled: false},
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
		        legend: {
                    display: false,
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Means'
                        }
                    }]
                }
            }
        };
		var wmeanChart = new Chart(ctxmean, config);

		var variance = '{{variance|safe}}';
		variance = variance.substring(1, variance.length-1);
		variance = JSON.parse("[" + variance + "]");

		var rounds = [];
		for(var i = 0; i < variance.length; i++) {
			rounds.push(i + 1);
		}

		var ctxw = document.getElementById("vChart").getContext('2d');
		var config = {
            type: 'line',
            data: {
                labels: rounds,
                datasets: [{
		            backgroundColor: 'rgb(54,  162, 235)', // blue
		            borderColor: 'rgb(54,  162, 235)', // blue
		            data: variance,
		            fill: false
        		}]
            },
            options: {
                responsive: true,
                title: {display: false},
                tooltips: {enabled: false},
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
		        legend: {
                    display: false,
                },   
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Variances'
                        }
                    }]
                }
            }
        };
		var wChart = new Chart(ctxw, config);

	</script>
</body>
</html>
